
<div class="container border border-0">
  <h3><a href="#" (click)="toggleDetails()">Cart(${{[cartTotal()]}})</a></h3>
  <div class="card  border border-0" [hidden]="!showDetails">
    <div class="card" *ngIf="carts().length>0">
      <div class="row border border-1" *ngFor="let cart of carts()">
        <div class="col-6 border border-1">
          {{cart.item?.productName}}
        </div>
        <div class="col-2  border border-1">
          {{cart.quantity}}
        </div>
        <div class="col-4  border border-1">
          ${{cart.item?.price}}
        </div>
      </div>
      <div class="header">
        <button class="btn btn-primary" (click)="checkedOut(carts)">Checked out</button>
      </div>
    </div>

  </div>
</div>
